<h2 class="text-2xl mt-12 mb-8">Restablecer contraseña</h2>

<form action="/session/forgotPassword/{{uid}}/{{token}}" method="post">
    <input required type="password" name="newPassword" placeholder="Nueva contraseña" class="input input-bordered border-primary-color w-full max-w-xs mb-2"><br>
    <input required type="password" name="confirmation" placeholder="Confirmar contraseña" class="input input-bordered border-primary-color w-full max-w-xs mb-2"><br>
    <button type="submit" class="btn btn-outline mt-4">Enviar</button>
</form>