<div class="d-flex flex-column container text-center gap-2 mt-5">
<h1>Restablecer contraseña</h1>

<form class="d-flex flex-column container text-center gap-2" style="width: 30rem;" action="/session/forgotPassword" method="post">
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
    <input type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="email">
  </div>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
<a href="/session/login"><button class="btn btn-danger">Volver</button></a>
</div>