<h2 class="text-2xl mt-12 mb-8">Restablecer contraseña</h2>

<form action="/session/forgotPassword" method="post">
    <input required type="email" name="email" placeholder="Email" class="input input-bordered border-primary-color w-full max-w-xs mb-2" /><br>
    <button type="submit" class="">Enviar</button>
</form>
<button><a href="/session/login">Volver</a></button>