<h1>Iniciar Session</h1>

<form action="/session/login" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="password"><br>

    <br>

    <input type="submit" value="Iniciar Sesion">
</form>

<div>
    <a href="/session/github"><button>Entrar con Github</button></a>
</div>

<button><a href="/session/forgotPassword" class="btn btn-sm btn-ghost my-2 normal-case">Olvidé mi contraseña</a></button>