<h1>Iniciar Session</h1>

<form action="/session/login" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="password" name="password"><br><br>
    <input type="submit" value="Iniciar Sesion">
</form>
<br>
<a href="/session/register"><button>Registrarme</button></a>
<a href="/session/forgotPassword"><button>Olvidé mi contraseña</button></a>
