<h1>Cart</h1>
<hr>
<table id="productsTable">
    <tr>
        <td><strong>Cart</strong></td>
        <br>
        <td><strong>prods</strong></td>
    </tr>
    {{#each data}}
    <tr>
    <td>{{products}}</td>
    </tr>
    {{/each}}  
</table>
<div id="moving"></div>